body {
    font-family: 'Lobster', cursive;
    font-family: 'Pacifico', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'PT Sans Narrow', sans-serif;
}

p {
    font-family: sans-serif;
}



.overlay {
    filter: brightness(60%);
}




.fa-star {
    color: rgb(255, 166, 0);
}

.fa-star.light {
    color: rgb(252, 210, 132);
}

.fa-facebook-square {
    color: white;
}

.fa-twitter-square {
    color: white;
}

.fa-pinterest-square {
    color: white;
}

.fa-linkedin {
    color: white;
}

.fa-instagram-square {
    color: white;
}